<launch>

	<arg name="map_file" default="$(find agv_control)/maps/gallery_NEW.yaml"/>
	<!--<arg name="map_file" default="$(find agv_control)/maps/gallery_NEW_corridor.yaml"/>-->
	<!-- <arg name="map_file" default="$(find agv_control)/maps/2014-07-03-12-33-ei-planning.yaml"/>-->
	
	<arg name="rviz_file" default="$(find agv_control)/RViz/rviz_gallery_sim.rviz" />
	<!--<arg name="rviz_file" default="$(find agv_control)/RViz/rviz_schio_sim.rviz" />-->
	
	<arg name="mat_file" default="$(find agv_control)/params/params_p3dx.mat"/>
	<arg name="mat_file_coarse" default="$(find agv_control)/params/params_p3dx.mat"/>
	<arg name="mat_file_fine" default="$(find agv_control)/params/params_p3dx.mat"/>
	<!--<arg name="mat_file" default="$(find agv_control)/params/params_lgv.mat"/>-->
	
	<arg name="missions_file" default="$(find agv_control)/missions/missions.txt"/>
	
	<node pkg="rqt_console" name="rqt_console" type="rqt_console" />
	
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
    	<param name="frame_id" value="/map" />
    </node>

	<!-- Vehicle names and priorities -->
	<rosparam param="vehicleNames">['Alfa','Bravo', 'Charlie', 'Delta', 'Echo', 'Foxtrot']</rosparam>
	<rosparam param="vehiclePriorities">[1, 2, 3, 4, 5, 6]</rosparam>
	
	<!-- Pure pursuit parameters for simulation-->
	<rosparam param="lookAheadDistance">0.2</rosparam>
	<rosparam param="linVelocity">0.3</rosparam>
	<rosparam param="maxAngVelocity">0.8</rosparam>
	
	<!-- Pure pursuit parameters for real Pioneers-->
	<!--<rosparam param="lookAheadDistance">0.2</rosparam>
	<rosparam param="linVelocity">0.15</rosparam>
	<rosparam param="maxAngVelocity">0.4</rosparam>-->
	
	<rosparam param="posTolerance">0.05</rosparam>
    
    <node pkg="agv_control" name="pathPlanner" type="pathPlanner" args="$(arg mat_file)" />
    
    <node pkg="agv_control" name="agvController" type="agvController" ns="Alfa" args= "$(arg mat_file)" >-->
    	<!--<param name="global_frame_id" value="/Alfa/map"/>-->
    	<!--<param name="base_frame_id" value="/Alfa/base_link""/>-->
    	<remap from="/Alfa/map" to="/map"/>
    	<remap from="/Alfa/getPlanSrv" to="/getPlanSrv"/>
    </node>
    
    <node pkg="agv_control" name="agvController" type="agvController" ns="Bravo" args= "$(arg mat_file)" >
    	<remap from="/Bravo/map" to="/map"/>
    	<remap from="/Bravo/getPlanSrv" to="/getPlanSrv"/>
    </node>
    
    <node pkg="agv_control" name="agvController" type="agvController" ns="Charlie" args= "$(arg mat_file)" >
    	<remap from="/Charlie/map" to="/map"/>
    	<remap from="/Charlie/getPlanSrv" to="/getPlanSrv"/>
    </node>
    
    <node pkg="agv_control" name="agvController" type="agvController" ns="Delta" args= "$(arg mat_file)" >
    	<remap from="/Delta/map" to="/map"/>
    	<remap from="/Delta/getPlanSrv" to="/getPlanSrv"/>
    </node>
    
    <node pkg="agv_control" name="agvController" type="agvController" ns="Echo" args= "$(arg mat_file)" >
    	<remap from="/Echo/map" to="/map"/>
    	<remap from="/Echo/getPlanSrv" to="/getPlanSrv"/>
    </node>
    
    <node pkg="agv_control" name="agvController" type="agvController" ns="Foxtrot" args= "$(arg mat_file)" >
    	<remap from="/Foxtrot/map" to="/map"/>
    	<remap from="/Foxtrot/getPlanSrv" to="/getPlanSrv"/>
    </node>
    
    <include file="$(find p2os_urdf)/launch/upload_pioneer3dx.xml" />
    
    <include file="$(find agv_control)/launch/pioneer3dx_urdf_AGV.launch">
    	<arg name="robot_name" value="Alfa"/>
    </include>
    
    <include file="$(find agv_control)/launch/pioneer3dx_urdf_AGV.launch">
    	<arg name="robot_name" value="Bravo"/>
    </include>
    
    <include file="$(find agv_control)/launch/pioneer3dx_urdf_AGV.launch">
    	<arg name="robot_name" value="Charlie"/>
    </include>
    
    <include file="$(find agv_control)/launch/pioneer3dx_urdf_AGV.launch">
    	<arg name="robot_name" value="Delta"/>
    </include>
    
    <include file="$(find agv_control)/launch/pioneer3dx_urdf_AGV.launch">
    	<arg name="robot_name" value="Echo"/>
    </include>
    
    <include file="$(find agv_control)/launch/pioneer3dx_urdf_AGV.launch">
    	<arg name="robot_name" value="Foxtrot"/>
    </include>
    
    <node pkg="agv_control" name="poseEstimator" type="poseEstimator" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file)" />
    
    <!--<node pkg="agv_control" name="missionPublisher" type="missionPublisher" args= "-mf $(arg missions_file)"/> -->
    
</launch>

